<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>1stMonth.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746398</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2ndMonth.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746398</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3thMonth.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747006</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>4thMonth.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747197</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Balance.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746398</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>DayJob.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746505</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>DyingFrog.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746505</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>EasyGotten.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746601</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Envy.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746601</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Friendship.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583413.18463194</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>GoBooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746696</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guilty.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746696</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HighLevel.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746803</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HowToReadHardBooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747101</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Iam25.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746803</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Iam26.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746803</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>LiwenyeCn.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746899</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Money.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746899</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MyReader.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746899</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MySystem.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747006</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MyTools.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747006</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wandering.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45746303</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>WhyAlwaysWriting.md</key>
			<dict>
				<key>lastModification</key>
				<real>545583271.45747101</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Work0301.md</key>
			<dict>
				<key>lastModification</key>
				<real>553371958.36419904</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Work0302.md</key>
			<dict>
				<key>lastModification</key>
				<real>553372013.35938001</real>
				<key>version</key>
				<dict>
					<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
					<integer>17</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Wandering.md</string>
		</array>
		<array>
			<string>Friendship.md</string>
		</array>
		<array>
			<string>1stMonth.md</string>
		</array>
		<array>
			<string>2ndMonth.md</string>
		</array>
		<array>
			<string>Balance.md</string>
		</array>
		<array>
			<string>DayJob.md</string>
		</array>
		<array>
			<string>DyingFrog.md</string>
		</array>
		<array>
			<string>EasyGotten.md</string>
		</array>
		<array>
			<string>Envy.md</string>
		</array>
		<array>
			<string>GoBooks.md</string>
		</array>
		<array>
			<string>Guilty.md</string>
		</array>
		<array>
			<string>HighLevel.md</string>
		</array>
		<array>
			<string>Iam25.md</string>
		</array>
		<array>
			<string>Iam26.md</string>
		</array>
		<array>
			<string>LiwenyeCn.md</string>
		</array>
		<array>
			<string>Money.md</string>
		</array>
		<array>
			<string>MyReader.md</string>
		</array>
		<array>
			<string>MySystem.md</string>
		</array>
		<array>
			<string>MyTools.md</string>
		</array>
		<array>
			<string>3thMonth.md</string>
		</array>
		<array>
			<string>HowToReadHardBooks.md</string>
		</array>
		<array>
			<string>WhyAlwaysWriting.md</string>
		</array>
		<array>
			<string>4thMonth.md</string>
		</array>
		<array>
			<string>Work0301.md</string>
		</array>
		<array>
			<string>Work0302.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ff23a1fe536b20576a12c6e22ca5841cbd01fc03b6b3d60eab54e8b2844fa452</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
